.crossSection{  
    width: calc(100%);
    height: calc(100%);

    .canvas {
        position:absolute;
        width: 1400px;
        height: 600px;  
        padding: 10px;
        background-color: black;
        //margin: 60px;
        //overflow: auto;
    } 
}